/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485


     $colorTEST: hsl(223, 65%, 48%);
     $colorTEST: hsl(223, 593, 33%);
     $firDDDst-color: hsl($hue-color, 53%, 33%);
*/

/*==================== FILES IMPORTS  ====================*/
   @import "abstracts/functions";
   @import "abstracts/mixins";
   @import "abstracts/variables";
   
   @import "base/animations";
   @import "base/base";
   @import "base/typography";
   @import "base/utilities";
   

   @import "components/button";
   
   @import "layout/header";

   

   @import "pages/home";












