

.btn{

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size:$default-font-size;
    
    }
    
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    }
    
    
    &:active{
        transform: translateY(-1rem);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    
    }
    
    &--white {
        background-color: #FFF;
        color: $text-color;
        /* color: #777; */
    
    }
    
    &::after {
    
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    
    }
    
    &--white::after {
    
        background-color: #FFF;
    
    
    }
    
    &:hover::after {
    
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
       
    }
    
    
    &--animated {
    
        animation: moveButtomUp  1s ease-out .75s;
        animation-fill-mode: backwards;
    
    
    }


    
}







/*==================== BUTTONS  TEST ====================*/



.button{
    display: inline-block;
    background-color: $first-color;
    color: #FFF;
    padding:1rem ;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}


.button:hover{
    background-color: $first-color-alt;
}

/* TODO: REVISAR USO DE ESTA CLASE */
.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}


.button--white{
    background-color:#fff;
    color: $first-color;

}

.button--white:hover{
    background-color:#fff;
}


.button--flex{
    display: inline-flex;
    align-items: center;
}


.button--small{

    padding:.75rem 1rem;

}


.button--link{

    padding:0;
    background-color: transparent;
    color: $first-color;
}

.button--link:hover{

    background-color: transparent;
    color: $first-color-alt;
}

.portfolio__button:hover .button__icon{
    transform: translateX(.25rem);

}


/*==================== BUTTONS  TExT ====================*/

.btn-text {



    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $first-color-alt;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $first-color;
        padding: 3px;
        transition: all .2s;
        



    }


    &:hover{

        background-color: $first-color;
        color: $white-color;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
        
        



    }


    &:active{

        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0px);


    }





}