.composition{

    position: relative;


    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 5;
        transition: all .2s;
        outline-offset: 2rem;









        &--p1{
            left: 0;
            top: -4rem;
        }

        &--p2{
            right: 0;
            top: 4rem;
        }

        &--p3{
            left: 20%;
            top: 15rem;
        }


        &:hover{

            // include a border when an img is on hover state

            // outline: 1rem solid  $first-color;



            // End of boder effect 


            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 10;



        }
    
    }

    &:hover &__photo:not(:hover){

        transform: scale(.95);


    }




}

// .wey{
//     font-family: 'Caveat',cursive;
//     font-size: 25px;
//     text-align: center;
//     color: #2c2c2c;
//     margin-top: 22px;
//     z-index: 6;
// }


.cards{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    // background:linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.1)), url('img/SaonaIsland.jpg');
    background-image: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.1)),url(./../img/SaonaIsland.jpg);
    
}

.card2{
    background-image: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.1)),url(./../img/PuertoPlata.jpg);
}

.card3{
    background-image: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.1)),url(./../img/ballenas_samana.jpg);
}

.card4{
    background-image: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.1)),url(./../img/EagleBay.jpg);
}

.cards:hover{
    transform: translateY(-10px);}


    
.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

.cards h5{
    color: white;
    font-size: 15px;
    text-shadow: 0 0 5px #999;

}

.cards p{
    text-shadow: 0 0 5px #999;
    font-size: 10px;
    color: white;
}
